{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Skills{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/form-basic-inputs.js' %}"></script>
{% endblock page_js %}


{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Skills</span>
</h4>
<div class="row mb-5">
  {% for skill in skills %}
  <div class="col-md">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img card-img-left" src="/static/{{skill.skillImage}}" alt="Card image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{skill.skillName}}</h5>
            <p class="card-text">
              {{skill.skillDescription}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
